body{ 
background-image: url("main.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.head{
max-width: auto;
max-height: 200px;
    
}

.logo{
min-height: 30px;
min-width: auto;
margin-left: 800px;
}

.button{
float: left;
min-height: 30px;
margin-top: 60px;
margin-left: 20px;
display: inline-block;
border-radius: 12px;
background-color:#f2f5ec ;
border: 5px;
border-color: black;
color: black;
text-align: center;
font-size: 20px;
padding: 20px;
width: 130px;
transition: all 0.5s;
cursor: pointer;

}

 
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  

